@import url("https://unpkg.com/primer/build/build.css");.highlight{width:100%;overflow:auto;background:#ffffff}.highlight .c{color:#999988;font-style:italic}.highlight .err{color:#a61717;background-color:#e3d2d2}.highlight .k{font-weight:bold}.highlight .o{font-weight:bold}.highlight .cm{color:#999988;font-style:italic}.highlight .cp{color:#999999;font-weight:bold}.highlight .c1{color:#999988;font-style:italic}.highlight .cs{color:#999999;font-weight:bold;font-style:italic}.highlight .gd{color:#000000;background-color:#fdd}.highlight .gd .x{color:#000000;background-color:#faa}.highlight .ge{font-style:italic}.highlight .gr{color:#a00}.highlight .gh{color:#999}.highlight .gi{color:#000000;background-color:#dfd}.highlight .gi .x{color:#000000;background-color:#afa}.highlight .go{color:#888}.highlight .gp{color:#555}.highlight .gs{font-weight:bold}.highlight .gu{color:#aaa}.highlight .gt{color:#a00}.highlight .kc{font-weight:bold}.highlight .kd{font-weight:bold}.highlight .kp{font-weight:bold}.highlight .kr{font-weight:bold}.highlight .kt{color:#445588;font-weight:bold}.highlight .m{color:#099}.highlight .s{color:#d14}.highlight .na{color:teal}.highlight .nb{color:#0086B3}.highlight .nc{color:#445588;font-weight:bold}.highlight .no{color:teal}.highlight .ni{color:purple}.highlight .ne{color:#990000;font-weight:bold}.highlight .nf{color:#990000;font-weight:bold}.highlight .nn{color:#555}.highlight .nt{color:navy}.highlight .nv{color:teal}.highlight .ow{font-weight:bold}.highlight .w{color:#bbb}.highlight .mf{color:#099}.highlight .mh{color:#099}.highlight .mi{color:#099}.highlight .mo{color:#099}.highlight .sb{color:#d14}.highlight .sc{color:#d14}.highlight .sd{color:#d14}.highlight .s2{color:#d14}.highlight .se{color:#d14}.highlight .sh{color:#d14}.highlight .si{color:#d14}.highlight .sx{color:#d14}.highlight .sr{color:#009926}.highlight .s1{color:#d14}.highlight .ss{color:#990073}.highlight .bp{color:#999}.highlight .vc{color:teal}.highlight .vg{color:teal}.highlight .vi{color:teal}.highlight .il{color:#099}.highlight .lineno{-webkit-user-select:none;-moz-user-select:none;-o-user-select:none}.lineno::-moz-selection{background-color:transparent}.lineno::selection{background-color:transparent}.github-component{font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important}.repo-language-color{filter:brightness(125%) !important;border-radius:50%;display:inline-block;height:12px;position:relative;top:2px;width:12px}.emoji{width:18px;height:auto;vertical-align:middle}.article h1,.article h2,.article h3,.article h4,.article .highlight{margin-bottom:16px}.article blockquote{color:#6a737d;border-left:2px solid #959da5;padding-left:16px;margin-bottom:16px}.article ul,.article ol{padding-left:32px;margin-bottom:16px}.article li ul,.article li ol{padding-left:16px;margin-bottom:0px}.min-height-full{min-height:100vh}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter UI",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans",HelveticaNeue,"Helvetica Neue",Helvetica,sans-serif;
}

#fixed-banner {
    position:fixed;
}

@media only screen and (max-width: 600px) {
    #fixed-banner {
      position: relative;
    }
    .couple-image{
        height: 220px; /* controlled by JS */
    }
    .scrollbutton-bar{
        text-align: left !important;
        margin-left: 20px;
        display: none !important;
    }
    .scrollbutton-container{
        margin-bottom: 0 !important;
    }
    .right-bar-homepage{
        min-height: 0 !important;
    }
    .jyse-jyse-ce990fd4-d246-4ba6-9add-a0700228f521 {
        width: 126% !important;
    }
    .calendar-item-label {
        display: none !important;
    }
    .intro-contents{
        display: none;
    }
  }

.no-padding {
    padding: 0 !important;
}

.intro-contents {
    margin: 10% 20% 11% 10%;
    position: absolute;
    bottom: 0%;
}

.couple-image{
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

#wedding-names {
    font-family: 'Great Vibes';
    font-weight: 400;
    color: white;
    font-size: 3rem;
}

#wedding-message {
    min-width: max-content;
    font-weight: 400;
    font-family: "Noto Nastaliq Urdu";
    -webkit-font-smoothing: antialiased;
    font-size: 2.2rem;
    color: white;
}

.scrollbutton-bar{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.scrollbutton-container{
    display: inline-block;
    width: 66px;
    height: 66px;
    margin-bottom: 60px;
    cursor: pointer;
}

.scrollbutton-circle{
    width: 60px;
    height: 60px;
    position: absolute;
    margin: 3px 0 0 3px;
    border: 4px solid rgba(180, 180, 180, 0.8);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.scrollbutton-arrow {
    width: 30px;
    height: 30px;
    background-image: url('assets/button-scroll.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: auto;
    margin-left: auto;
    position: inherit;
    margin-top: 19px;
}

.right-bar-homepage {
    margin-top: 0;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    align-items: center;
}

.title-binding {
    text-align: center;
    font-family: "Noto Nastaliq Urdu";
    margin-bottom: 30px;
    margin-top: 0px;
}

.welcome-details{
    position: relative;
    top: -40px;
    margin-bottom: 10px !important;
    min-width: 370px;
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;
    display: table !important;
}

#timer-div {
    margin-left: auto;
    margin-right: auto;
    display: table !important;
}

a:hover, a:active, a:focus
{
	text-decoration: underline;
  	text-decoration-color: black;
}

.rsvp-button:hover, .rsvp-button:active, .rsvp-button:focus{
    background-color:rgba(100, 100, 100, .5) !important;
}

.rsvp-button {
    color: black;
    font-weight: bold;
    background-color: transparent!important;
    border: 2px solid #333;
    line-height: 46px;
    border-radius: 5px;
    min-width: 240px;
    padding: 0 20px;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    display: table !important;

    position: relative;
    top: -30px;
}

.link-to-schedule-button{
    margin-top: 10px;
}
.right-bar-content{
    padding: 10px 60px 60px 60px;
}

.calendar-item-label{
    text-transform: uppercase;
    top: -8px;
    padding: 0 15px 0 0;
    position: absolute;
    display: block;
    left: 0;
    background-color: #fafbfc;
}

.calendar-item-label-persian{
    top: -8px;
    padding: 0 0 0 15px;
    position: absolute;
    display: block;
    left: auto;
    right: 0;
    background-color: #fafbfc;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    display: block;
}

.event-group {
    display: flex;
}

.time-container {
    vertical-align: sub;
    padding: 20px 20px 0 5%;
    min-width: 35%;
    justify-content: flex-end;
}

.event-info{
    vertical-align: sub;
}

.event {
    vertical-align: sub;
    padding: 20px -1px 0 20px;
}

.add-to-calendar {
    font-size: 11px !important;
    margin-left: auto;
    margin-right: auto;
    display: table !important;
}

.faq-item {
    direction: rtl;
    margin-top: 20px;
}

.faq-question {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
}

.faq-answer {
    margin-top: 5px;
    padding-right: 50px;
    font-weight: 500;
    font-size: 15px;
}