@charset "utf-8";
/* CSS Document */

a:link, a:visited {
	text-decoration:none;
	color:#065388;
}
a:hover {
	color:#990000;	
}
a.current:link, a.current:visited {
	color:#111;
	font-weight:bold;
}
img { border:none; }

#body {
	margin:0;
	padding:0;
	background-color:#D7CEC7;
	color:#333;
	font-family:"Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
}

#title_text{
	font-family: sans-serif;
}

#heading_text{
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: sans-serif;
	font-size: 30px;
	color:#76323F;
	font-style: bold;
}

#container {
	width:960px;
	margin:auto;
	font-size:14px;
	position: relative;
}

#wrapper {
	width: inherit;
 box-shadow: 0 0 5px #666;
 -webkit-box-shadow: 0 0 5px #666;
 -moz-box-shadow: 0 0 5px #666;
	overflow:hidden;
	border-radius:0px 0px 10px 10px;
}	

#banner {
	display: block;
	color:#FFF;
	padding:15px;
	padding-top: 80px;
	background-color: #262626;
	margin:0;
}
h1 {
	margin:0;
	padding: 0;
	font-size:30px;
	
}
#banner p {
	margin:0;
	text-transform: uppercase;
	font-size:14px;
}
#nav {
	position: fixed;
	width: inherit;
	margin:auto;	
	top: 0;
	font-family:"Verdana";
    background:#76323F;
   overflow:hidden;
   height: 40px;
}
#nav ul {  
   list-style:none;
   margin:0;
   padding:0;
  
}
#nav ul li {
   display:inline;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
  
}
#nav ul li a {
   display:block;
   margin:0;
   padding:0px 20px;
   color:#fff;
   text-decoration:none;
   line-height:40px;
   color: #C09F80;
}
#nav ul li a:hover {
   background:#C09F80;
   color:#333;
}
#page {
	background-color:#FFF;
	overflow:auto;
	padding:15px 0;
	clear: both;
	/*
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	*/
}

#sidephoto {
	width: 33%;
	max-height:300px;
	max-width:300px;	
	float:left;
	background-color:#C09F80;
	border: 1px;
}

#sidebar {
	width: 30%;
	max-height:200px;
	max-width:300px;
	padding-right: 10px;
	padding-left: 50px;
	float:left;
	/*border: 10px solid transparent;*/
	/*border-image: url(images/footprints.png) 3 round;*/
	/*border-image-width: 10px;*/
	/*border-right: 1px #76323F solid;*/
}

/*#sidebar h3, #sidebar p {
	padding:0 10px;
}
*/

#side_content {
	width: 70%;
	float: left;
	padding-top: 0px;
	padding-left: 30px;
	padding-right: 15px;
}

#photo {
	height: auto; 
    width: auto; 
    max-width: inherit; 
    max-height: inherit;
    padding:10px;}

#logo {
	height: auto; 
    width: 90%; 
	max-height: 100px;
    max-width: inherit; 
    background: #FFF;
}

#centered_small_side_content {
    margin: auto;
	width: 45%; 
}

#content {
	width: 100%;
	float: left;
	padding-left:15px;
	padding-right:15px;
	margin-bottom:30px;
	line-height:160%;
}

#footer {
	padding:15px;	
	overflow:auto;
	color:#FFF;
	font-size:90%;
	text-align:right;
}

#footer img {
	float:left; 
	margin-right:15px;
}

h2 {
	margin-top:0;
	color:#494949;
	font-weight:normal;
	font-size:200%;
}

.right {
	float:right;
	margin: 0 0 15px 15px;
}
.left {
	float:left;
	margin:0 15px 15px 0;
}

#contentbar {
	width:210px;
	margin-top: 0;
	margin-right: 15px;
	margin-bottom: 0;
	margin-left: 0px;
	float:left;
	line-height:140%;
	background-color:#EEE;
	border: 1px solid #E5E5E5;
}

#contentbar h3, #contentbar p {
	padding:0 10px;
}

#page {
	
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;

}
#banner p {padding-left:1em}

#listitem {
	color:#000;
	font-size:15px;
}
#listitemdetail {
	color:#000;
	font-size:13px;
}
#contactwrapper {
	width:90%;
	float: right;	
}
#contactitem {
	display: inline;
	width:33%;
	margin:auto;
	float:left;
}
#contacttextwrapper {
	padding-top: 15px;
}
#contacttext {
	display: inline;
	padding-top: 30px;
	padding-left: 20px;	

}
.icon_wrapper {
	width:20%;
	margin:auto;
}
.icon {
	float: left;
	display:inline;
	width:50px;
	height:50px;
}

#abouttext {
	width:67%;
	float: left;
	padding-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
	font-size:18px;
	font-family: Helvetica;
}

.content-text {
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	font-size:15px;
	font-family: Helvetica;
}

div.resume_section{
  padding-top: 10px;
}

div.resume_section div.resume_title{
  width: 220px;
  text-align: center;
  float: left;
  padding-right: 10px;
  font-size: 24px;
  color: darkslategrey;
}
div.resume_subtitle{
	
}
div.resume_section div.resume_description{
  width: 650px;
  float: right;
  padding-top: 5px;
}
.indented_resume_description {
	padding-left: 50px;
}
div.resume_subsection{
  margin-bottom: 10px;
}

div.resume_subsection div.subsection_title{
  color:cornflowerblue;
  font-weight: normal;
  display: block;
  float: left;
  padding-right: 10px;
}

div.date {
  float: right;
  border-radius: 2px;
  background: #EFEFEF;
  padding: 3px 8px;
  margin: 0 2px;
  position: relative;
  top: -4px;
}

div.pdf_resume{
  top: -35px;
}

div.resume_subsection div.subsection_text{
  width: 97%;
  clear: right;
  padding-left: 10px;
}

div.subsection_text p{
  text-align: justify;
  margin-bottom: 0;
  width: 540px;
}
.separator { 
  width: 100%;
  float: left;
  /*padding: 0 20px 20px 20px;*/
  padding-left: 20px;
  padding-bottom: inherit;
  padding-top: inherit;
  height: 0;
  /*border-top: 1px dotted #C09F80;*/
  border-bottom: 1px solid #FFF;
  margin: 30px 0 20px 0;
}
.vspace {
	margin-top: 50px;
}

.heading_box { 
	margin: auto;
	width:50%;
	border: 2px;
	border-style: solid;	
	border-color: #C09F80;
	border-radius: 5px;
}

* {
  box-sizing: border-box;
}
